* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:rgb(40,103,178);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: antiquewhite;
}

img {
    width: 100%;
    padding: 4% 1% 2% 1%;
}

/* .girl {
    height: 98%;
    width: 96%;
} */
/* .showing {
    display: block;
}

.hidden {
    display: none;
}

.showing:hover {
    display: none;
}

.hidden:hover {
    display: block;
} */

#timeline-1 {
    width: 150px;
    position: absolute;
    top: 5%;
    left: 5%;
}

#timeline-2 {
    width: 150px;
    position: absolute;
    top: 5%;
    left: 15%;
}

#timeline-3 {
    width: 150px;
    position: absolute;
    top: 5%;
    left: 27%;
}

#timeline-4 {
    width: 150px;
    position: absolute;
    top: 5%;
    left: 38%;
}

#timeline-5 {
    width: 150px;
    position: absolute;
    top: 5%;
    left: 50%;
}

#timeline-6 {
    width: 150px;
    position: absolute;
    top: 5%;
    left: 62%;
}

#timeline-7 {
    width: 150px;
    position: absolute;
    top: 5%;
    left: 74%;
}

#timeline-8 {
    width: 150px;
    position: absolute;
    top: 5%;
    left: 85%;
}

.hidden {
    display: none;
}

.showing {
    display: block;
}

.dot:hover .hidden {
    display: block;
}

.dot:hover .showing {
    display: none;
}

.dot {
    height: 150px;
    width: 150px;
    background-color: white;
    border-radius: 50%;
    border: 2px solid black;
    display: inline-block;
    text-align: center;
    line-height: 150px;
    color: rgb(40,103,178);
  }

  .dot:hover {
      background-color: rgb(189, 233, 250);
      display: block;
  }

  .container {
    display: flex;
    justify-content: space-between;
    padding: 2% 15%;
  }

 /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 20%; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    margin: auto;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 50px;
    border: 3px dotted rgb(40,103,178);
    width: 80%;
    text-align: center;
    position: relative;
    font-size: 18px;
  }
  
  /* The Close Button */
  .close {
    color: rgb(40,103,178);
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
