body {
    background-color: black;
}

section {
    display: flex;
    justify-content: center;
}

div {
    background-color: white;
    margin-top: 1%;
    padding: 5px;
    border: 5px solid beige;
}