body {
    background-color: darkblue;
    font-family: 'Poppins', sans-serif;
}

section {
    background-color: white;
    margin: 10% 20%;
    padding: 3%;
    border: 5px solid bisque;
    border-radius: 2%;
}