* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: antiquewhite;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

#poem p {
    position: absolute;
    padding: 1em;
    font-size: 2em;
    background-color: #6495ED;
    transition: all 2.5s;
    border: 3px solid white;
    border-radius: 10px;
}

.fa-snowflake {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 36px;
    color: antiquewhite;
    transform: translate(-50%, -50%);
    animation: bird 2s infinite alternate ease-in-out;
}

#line1 {
    bottom: 0%;
    left: 0%;
}

#line2 {
    top: 20%;
    right: 10%;
}

#line3 {
    bottom: 30%;
    left: 30%;
}

.fa-expand {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 36px;
    color: #6495ED;
}

#snowflake1 {
    width: 10%;
    height: 15%;
    position: absolute;
    bottom: 10%;
    left:10%;
}

#snowflake2 {
    width: 15%;
    height: 25%;
    position: absolute;
    top: 10%;
    right:2%;
}

#snowflake3 {
    width: 10%;
    height: 15%;
    position: absolute;
    bottom: 40%;
    left:40%;
}

#snowflake4 {
    width: 15%;
    height: 25%;
    position: absolute;
    top: 5%;
    left:5%;
}

#snowflake5 {
    width: 10%;
    height: 15%;
    position: absolute;
    top: 4%;
    right:20%;
}

#snowflake6 {
    width: 10%;
    height: 15%;
    position: absolute;
    bottom: 4%;
    right:10%;
}

.fa-expand:hover {
    cursor: pointer;
}

.hidden {
    opacity: 0;
}

.showing {
    opacity: 1;
}